
@{
    ViewData["Title"] = "BlogList";
    Layout = "~/Views/BlogLayout/Index.cshtml";
}


<!doctype html>
<html lang="en">
<body>
    @await Component.InvokeAsync("_BlogListComponentPartial")
</body>
</html>

