<div class="row">
    <div class="col-xl-12 grid-margin stretch-card">
        <div class="card card-calender">
            <div class="card-body">
                <div class="row pt-4">
                    <div class="col-sm-6">
                        <h1 class="text-white">@DateTime.Now.ToString("HH:mm")</h1>
                        <h5 class="text-white">@DateTime.Now.ToString("dd/MM/yyyy")</h5>
                    </div>
                    <div class="col-sm-6 text-sm-right pt-3 pt-sm-0">
                        <h3 class="text-white">Blogy Web Projesi </h3>
                        <p class="text-white m-0">İstanbul</p>
                        <h3 class="text-white m-0">@ViewBag.v5 </h3>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-12">
                        <ul class="d-flex pl-10 overflow-auto">
                            <li class="weakly-weather-item text-white font-weight-medium text-center active">
                                <p class="mb-0">Bugün</p>
                                <i class="mdi mdi-weather-cloudy"></i>
                                <p class="mb-0">21<span class="symbol">°c</span></p>
                            </li>
                            <li class="weakly-weather-item text-white font-weight-medium text-center">
                                <p class="mb-0">Pazartesi</p>
                                <i class="mdi mdi-weather-hail"></i>
                                <p class="mb-0">21<span class="symbol">°c</span></p>
                            </li>
                            <li class="weakly-weather-item text-white font-weight-medium text-center">
                                <p class="mb-0">Salı</p>
                                <i class="mdi mdi-weather-cloudy"></i>
                                <p class="mb-0">21<span class="symbol">°c</span></p>
                            </li>
                            <li class="weakly-weather-item text-white font-weight-medium text-center">
                                <p class="mb-0">Çarşamba </p>
                                <i class="mdi mdi-weather-fog"></i>
                                <p class="mb-0">21<span class="symbol">°c</span></p>
                            </li>
                            <li class="weakly-weather-item text-white font-weight-medium text-center">
                                <p class="mb-0">Perşembe</p>
                                <i class="mdi mdi-weather-hail"></i>
                                <p class="mb-0">21<span class="symbol">°c</span></p>
                            </li>
                            <li class="weakly-weather-item text-white font-weight-medium text-center">
                                <p class="mb-0">Cuma</p>
                                <i class="mdi mdi-weather-cloudy"></i>
                                <p class="mb-0">21<span class="symbol">°c</span></p>
                            </li>
                            <li class="weakly-weather-item text-white font-weight-medium text-center">
                                <p class="mb-0">Cumartesi</p>
                                <i class="mdi mdi-weather-hail"></i>
                                <p class="mb-0">21<span class="symbol">°c</span></p>
                            </li>
                            <li class="weakly-weather-item text-white font-weight-medium text-center">
                                <p class="mb-0">Pazar</p>
                                <i class="mdi mdi-weather-cloudy"></i>
                                <p class="mb-0">21<span class="symbol">°c</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>