@model Tag
@{
    ViewData["Title"] = "UpdateTag";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="card-header border-0">
	<h3 class="mb-0">Etiket Güncelleme İşlemi</h3>
</div>
<br />
<form class="form-group" method="post">
	<input type="hidden" asp-for="TagId" class="form-control" />
	<br />
	<label> Etiket Başlığı</label>
	<input type="text" asp-for="TagTitle" class="form-control" />
	<br />
	<label> Etiket 1 </label>
	<input type="text" asp-for="Tag1" class="form-control" />
	<br />
	<label> Etiket 2 </label>
	<input type="text" asp-for="Tag2" class="form-control" />
	<br />
	<label> Etiket 3 </label>
	<input type="text" asp-for="Tag3" class="form-control" />
	<br />
	<button class="btn btn-primary"> Kaydet </button>
</form>

