<div class="col-lg-4 ps-lg-5">
	<div class="widget">
		<h3 class="mb-4">Şirketimiz</h3>
		<ul class="list-unstyled float-start links">
			<li><a href="#">Hakkımızda</a></li>
			<li><a href="#">Hizmetler</a></li>
			<li><a href="#">Vizyonumuz</a></li>
			<li><a href="#">Misyonumuz</a></li>
			<li><a href="#">Şartlar Kurallar</a></li>
			<li><a href="#">Güvenlik</a></li>
		</ul>
		<ul class="list-unstyled float-start links">
			<li><a href="#">Partnerlerimiz</a></li>
			<li><a href="#">İş Ortaklarımız</a></li>
			<li><a href="#">Reklam</a></li>
			<li><a href="#">Bloglar</a></li>
			<li><a href="#">Sıkça Sorulan Sorular</a></li>
			<li><a href="/Writer/WriterLogin/Index/">Giriş Yap</a></li>
		</ul>
	</div> <!-- /.widget -->
</div> <!-- /.col-lg-4 -->