

<div class="comment-form-wrap pt-5">
	<h3 class="mb-5">Yorum Yap</h3>

	<form method="post" asp-action="AddComment" asp-controller="Blog" class="p-5 bg-light">

		<input type="hidden" name="ArticleId" value="@ViewBag.articleId" />
		<input type="hidden" name="AppUserId" value="@ViewBag.userId" />


		<div class="form-group">

			<label for="text">Adınız Soyadınız</label>
			<input class="form-control" type="text" name="NameSurname" placeholder="İsim Soyisim" required="">
			<br />
			<label for="text">Mail Adresiniz</label>
			<input class="form-control" type="email" name="Email" placeholder="Mail" required="">
			<br />
			<label for="message">Yorumunuz</label>
			<textarea class="form-control" name="Content" placeholder="Yorumunuz..." required="" rows="10" cols="50"></textarea>
			<br />
		</div>
		<div class="form-group">
			<button class="btn btn-primary">Yorum Yap</button>
		</div>
	</form>
</div>
