@model WriterTable
@{
    ViewData["Title"] = "UpdateWriter";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Kategori Güncelleme İşlemi</h3>
</div>
<br />
<form class="forms-sample" method="post">
    @Html.HiddenFor(x => x.WriterTableId)
	<label> İsim</label>
	<input type="text" asp-for="Name" class="form-control" />
	<br />
	<label> Soyisim</label>
	<input type="text" asp-for="Surname" class="form-control" />
	<br />
	<label> Açıklama</label>
	<input type="text" asp-for="Description" class="form-control" />
	<br />
	<label> Görsel </label>
	<input type="text" asp-for="ImageUrl" class="form-control" />
	<br />
	<label> Mail</label>
	<input type="text" asp-for="Mail" class="form-control" />
	<br />
	<label>Şifre</label>
	<input type="text" asp-for="Password" class="form-control" />
	<br />
	<label> Şifre Tekrarı </label>
	<input type="text" asp-for="PasswordConfirm" class="form-control" />
	<br />
	<label> Kullanıcı Adı</label>
	<input type="text" asp-for="UserName" class="form-control" />
	<br />
	<button class="btn btn-primary"> Kaydet </button>
</form>

